.app.dark {
	--bg-color: #E5E5E5;
	--inverted-bg-color: #FBFBFE;
	--primary-color: black;
	--secondary-color: #8CABD9;
	--inverted-primary-color: #121212;
	--inverted-secondary-color: rgb(69 122 201);
}